In [6]:
import pandas as pd
# import matplotlib.pyplot as plt
import pymysql

In [7]:
# Open database connection
conn = pymysql.connect("10.0.62.222","root","root","CampusData")

cur = conn.cursor()

In [8]:
startTimeEpoch = 1578076199
endTimeEpoch = 1578162599

In [9]:
data = cur.execute(""" SELECT * FROM occupancy WHERE timeEpoch > {} AND timeEpoch < {}""".format(startTimeEpoch, endTimeEpoch))

In [10]:
data

564912